body {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  position: relative; /* Make it a relative positioning context */
}

.main-body {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.custom-text {
  font-size: 15px;
  color: #1a202c;
}

.custom-text-card {
  font-size: 13px;
  color: #1a202c;
}

/* Base Style for the Modern Button */
.modern-btn {
  background-color: #4a4a4a; /* Neutral color for the button */
  color: white; /* White color for the icon */
  border-radius: 4px; /* Rounded corners */
  padding: 3px 3px; /* Padding around the button for a larger clickable area */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Hover Effect */
.modern-btn:hover {
  background-color: #333; /* Slightly darker background on hover */
  transform: translateY(-2px); /* Slight upward movement on hover for a dynamic effect */
  cursor: pointer; /* Cursor indication for clickable elements */
}

/* Active State */
.modern-btn:active {
  transform: translateY(0px); /* Reset the position on active state (button press) */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Style for the Icon Inside the Button */
.modern-btn mat-icon {
  font-size: 20px; /* Adjust the size if needed */
  vertical-align: middle; /* Centering the icon vertically */
}


.list-group-item {
  border: none;
  padding: 10px;
}

.list-group-item h6 {
  margin-bottom: 5px;
}

.text-secondary {
  font-size: 20px;
  color: #6c757d;
}

.chat-sidebar {
  flex: 1; /* Takes up one-third of available space */
  min-width: 160px;
  max-width: 220px;
  background-color: #b8a45ebd;
  padding: auto;
}

.app-friendlist {
  flex: 1; /* Takes up one-third of available space */
  min-width: 150px;
  max-width: 180px;
  background-color: #b8a45ebd;
  padding: auto;
}

@media (max-width: 1000px) {
  .app-friendlist {
      display: none;
  }
}

@media (max-width: 600px) {
  .chat-sidebar {
      display: none;
  }
}