/* Define the styles for the sidebar */
.sidebar {
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
}

/* Search field */
.sidebar input {
    margin-bottom: 10px;
    padding: 10px;
}

/* Style the buttons */
.sidebar button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: relative; /* Add relative positioning for pseudo-element */
}

/* Style the buttons on hover */
.sidebar button:hover {
    background-color: #777;
}

/* Add some spacing at the bottom of the sidebar */
.sidebar .bottom-space {
    margin-top: auto;
}

/* Style the content area */
.content {
    margin-left: 220px; /* Adjust this value to match the sidebar width */
    padding: 20px;
}

/* Style the button icons */
.sidebar button .button-icon {
    font-size: 16px; /* Adjust the icon size */
}

