<div class="sidebar">
  <input type="text" placeholder="Search Users" [(ngModel)]="searchQuery" (keyup.enter)="searchUsers()" />
  <button id="button1" class="btn btn-light" (click)="routGame()">
      <span class="button-icon">General</span>
  </button>
  <button id="button2" class="btn btn-light" (click)="routProfile()">
      <span class="button-icon">Profile</span>
  </button>
  <button id="button3" class="btn btn-light" (click)="routChat()">
      <span class="button-icon">Chat</span>
  </button>
  <button id="button4" class="btn btn-light" (click)="routLeaderboard()">
      <span class="button-icon">Leaderboard</span>
  </button>
  <button id="button5" class="btn btn-light" (click)="logOut()">
      <span class="button-icon">Logout</span>
  </button>
  <div class="bottom-space"></div>
</div>
