:root {
  --font-family: 'Atomic Age', cursive;
  --text-color: silver;
  --ball-color: black;
  --net-color: silver;
  --paddle-color: white;
}

text {
  font-family: var(--font-family);
  font-size: 4vh;
  fill: var(--text-color);
}

#ball {
  fill: var(--ball-color);
}

#net {
  stroke: var(--net-color);
  stroke-width: 2%;
  stroke-dasharray: 4%, 4%;
}

.paddle {
  fill: var(--paddle-color);
}

#app-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
  width: 98%;
  height: 85vh;
  background-color: #7a7a7a;
  border: 10px solid black;
}

h1 {
  text-align: center;
}


