/* Set up a flex container for the whole layout */
body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  /* Style for the sidebar on the left */
  .chat-sidebar {
    flex: 1; /* Takes up one-third of available space */
    border-right: 1px solid gray;
    overflow-y: auto;
    padding: 20px;
  }
  
  /* Style for the chat display in the middle */
  .chat-display {
    overflow-y: auto;
    padding: 20px;
  }
  
  /* Style for the friend list on the right */
  .app-friendlist {
    flex: 1; /* Takes up one-third of available space */
    padding: 20px;
    border-left: 0px solid gray;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row; /* Make sure content is aligned horizontally */
}
  

/* Channel container stuff */
.create-channel-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-channel-container form {
    margin-bottom: 50px; /* Add spacing below each form */
}

.create-channel-container label {
    display: block;
    margin-bottom: 10px;
}

.create-channel-container input[type="text"],
.create-channel-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Reduce spacing between input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-channel-container button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-channel-container button:hover {
    background-color: #0056b3;
}

.channels-container button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e9e9e9;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 4px;
}

.channels-container button:hover {
    background-color: #d9d9d9;
}




/* Chat container stuff */

.chat-display {
    width: 70%;
    overflow-y: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}


.chat-app-container {
    display: flex;
    width: 100%;
    height: auto;
}

.chat-sidebar {
    width: 30%;
    border-right: 1px solid gray;
    overflow-y: auto;
    padding: 20px;
}

.private-chat {
    background-color: #e6e6e6;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.private-chat:hover {
    background-color: #d9d9d9;
}

.channels,
.messages {
    margin-bottom: 20px;
}

.channels div,
.messages div {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.channels div:hover {
    background-color: #aa3c3c;
}

.messages-container {
    flex: 1;
    
}

.message {
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 12px;
    width: fit-content;
    max-width: 80%;
}

.outgoing {
    background-color: #DCF8C6;
    margin-left: auto;
}

.incoming {
    background-color: #ECECEC;
    margin-right: auto;
}

.system {
    background-color: #cfffff;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.message-header .message-author {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 4px;
}

.message-content {
    word-wrap: break-word;
}

.messages-area {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200vh;
    width: 65vh;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #ECECEC;
    background-color: #FFFDF6;

}


.input-area {
    width: 100%;      /* Adjusted to full width */
    display: flex;
    border-top: 1px solid #ECECEC;
    padding: 10px;
    background-color: #fffdf69d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


}

.input-area input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.input-area button {
    padding: 8px 12px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-area button:hover {
    background-color: #45a049;
}

.input-area .leave-channel {
    background-color: #aa3c3c;
    margin-left: auto;
}



.private-section {
    margin-bottom: 20px;
}

.channels-container {
    background-color: #f5f5f5;
    width: 250px; /* Reduce width if desired */
    height: 400px; /* Set to a smaller fixed height */
    overflow-y: auto; /* This will enable scrolling when the content height exceeds 400px */
    border-right: 1px solid #ddd; /* Optional: to distinguish it from adjacent content */
}







.channel-details {
    flex: 1;
    padding-left: 10px;
}

.channel-details h4 {
    margin: 0;
    font-size: 16px; /* Adjust as needed */
    color: #333;
}

.channel-details p {
    margin: 5px 0 0;
    font-size: 14px; /* Adjust as needed */
    color: #666;
}




.list-container {
    background-color: #f7f7f7;
    width: 250px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    overflow-y: auto;
    border-right: 1px solid #eee; /* Optional: for visual distinction */
}



.list-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}


.list-details {
          /* Adjust based on your layout preference */
    flex-grow: 1;
}

.list-details h4 {
    margin: 0;
    font-size: 16px; /* Adjust as needed */
    color: #333;
}

.list-details p {
    margin: 5px 0 0;
    font-size: 12px; /* Adjust as needed */
    color: #666;
    flex-grow: 1;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: flex-start; /* Align items at the top */
}


.scrollable-list {
    height: 55vh;
    overflow-y: auto;
    margin-right: 0%;
    border-radius: 5px;
}

.scrollable-list-user {
    height: 70vh;
    overflow-y: auto;
    margin-right: 0%;


}

.dropdown {
    /*should be as wide as channels-container1*/
    flex-grow: 0;
    max-width: 20vh;

}



.channels-container1 {
    background-color: #FFFDF6;  /* Creamy white background */
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);  /* Slight shadow for elevation */
    height: auto;
    overflow-y: auto; /* This will enable scrolling when the content height exceeds 400px */
    min-height: 20vh;
    flex-grow: 1;  /* This ensures it takes up maximum space */
    min-height: 20vh;
    max-width: 20vh;
    min-width: 20vh;
}
::-webkit-scrollbar {
    display: none;
}

.channels-container1 h2 {
    font-weight: 500;
    margin-bottom: 15px;
    color: #333;
}

.channels-container1 mat-list-option {
    border-radius: 3px;
    transition: background-color 0.2s;
}

.channels-container1 mat-list-option:hover {
    background-color: #f2f2f2;  /* Slight gray on hover */
}


.chat-box {
    border: 1px solid #e0e0e0;  /* Slight border */
    background-color: #b8a45ebd;  /* Creamy white background */
    border-radius: 15px;  /* Rounded corners */
    padding:25px;  /* Padding around the content */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);  /* Slight shadow for elevation */
    height: 80vh;
    min-height: 80vh;
    position: relative; /* Set a context for absolute positioning for children if needed */
    overflow: hidden;   /* Prevent overflow of children */
    display: flex;
    flex-direction: column;
    
}

.complete-chat {
    border: 1px solid #e0e0e0;  
    border-radius: 15px;  
    padding: 25px;  
    display: block; 
    background-color: #FFFDF6;
}
.channel-name {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;  /* Space between the channel name and the chat content */
    color: #333;  /* Dark text for contrast */
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}



/* Base Style for the Modern Button */
.modern-btn {
    background-color: #4a4a4a; /* Neutral color for the button */
    color: white; /* White color for the icon */
    border-radius: 4px; /* Rounded corners */
    padding: 3px 3px; /* Padding around the button for a larger clickable area */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Hover Effect */
.modern-btn:hover {
    background-color: #333; /* Slightly darker background on hover */
    transform: translateY(-2px); /* Slight upward movement on hover for a dynamic effect */
    cursor: pointer; /* Cursor indication for clickable elements */
}

/* Active State */
.modern-btn:active {
    transform: translateY(0px); /* Reset the position on active state (button press) */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Style for the Icon Inside the Button */
.modern-btn mat-icon {
    font-size: 20px; /* Adjust the size if needed */
    vertical-align: middle; /* Centering the icon vertically */
}



.channel-users-list mat-list-option {
    height: auto;           /* Allow the height to adjust based on content */
    min-height: 10px;       /* Set a minimum height to ensure the list item is visible */
    align-items: flex-start; /* Align content to the top of the list item */
    padding: 10px;          /* Add some padding for spacing */
    box-sizing: border-box; /* Ensure padding doesn't increase item size */
}

::ng-deep mat-selection-list mat-list-option {
    min-height: auto;
}



.user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.channel-action-container {
    width: 250px;  /* Reduced width */
    margin: 20px auto;
    padding: 10px;  /* Reduced padding */
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    background-color: #FFFDF6;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 15px;  /* Reduced margin */
    color: #333;
    font-size: 1.1em;  /* Reduced font size */
}

.full-width {
    width: 100%;
    margin-bottom: 10px;  /* Reduced margin */
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;  /* Reduced margin */
    color: #555;
}

mat-form-field {
    display: block;
    width: 100%;
    line-height: 1.5;  /* Adjusted line height */
}

mat-checkbox {
    margin: 10px 0;  /* Reduced margin */
    color: #333;
}

input[matInput] {
    height: 30px;  /* Adjusted input height */
    padding: 5px;  /* Adjusted input padding */
}


.flex-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}
.flex-container-current-channel {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.testflex{
    width: --webkit-fill-available;

}








