<body>
    <div class="chat-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="chat-display">
 
        <div *ngIf="!isRegistered">
            <div class="registration">
                <h3>is the jwt token working????????????????</h3>
            </div>
        </div>


        <div class="test">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Public Channels</mat-label>
                            <mat-select [(value)]="selectedChannel" (selectionChange)="joinChannelWrapper($event.value)">
                              <mat-option *ngFor="let channel of publicChannels" [value]="channel">
                                {{ channel.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <!-- User Channels -->
                    <div class="col">
                        <h3 class="mb-3">User Channels</h3>
                        <ul class="list-group scrollable-list">
                            <li *ngFor="let channel of userChannels" class="list-group-item list-group-item-action" (click)="selectChannel(channel)">
                                {{ channel.name }}
                            </li>
                        </ul>
                    </div>

                    <!-- User Channels -->
<!-- User Channels -->
<div class="col">
    <h3 class="mb-3">User Channels</h3>
    <div class="channel-card-container">
        <mat-card *ngFor="let channel of userChannels" (click)="selectChannel(channel)" class="channel-card">
            <mat-card-header>
                <mat-card-title>{{ channel.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
</div>



                    <!-- Chat Container -->
                    <div class="col">
                        <!-- Messages Display Area -->
                        <div class="messages-area" #messagesContainer>
                            <!-- Messages loop -->
                            <div class="message" *ngFor="let message of messages"
                                [ngClass]="{
                                            'outgoing': message.owner_id === user.id_42 && !message.isSystemMessage, 
                                            'incoming': message.owner_id !== user.id_42 && !message.isSystemMessage, 
                                            'system': message.isSystemMessage }">
                                <div class="message-header">
                                    <span
                                        *ngIf="message.owner_id !== user.id_42 && !message.isSystemMessage"
                                        class="message-author">{{ message.author }}</span>
                                    <span *ngIf="message.isSystemMessage"
                                        class="message-author">{{ 'System' }}</span>
                                </div>
                                <div class="message-content">
                                    {{ message.content }}
                                </div>
                            </div>
                        </div>
                        <div class="input-area">
                            <input [(ngModel)]="message.content"
                                placeholder="Type a message..."
                                (keyup.enter)="sendMessage()" />
                            <button (click)="sendMessage()">Send</button>
                        </div>
                    </div>
                    <div class="col">
                    <h3 class="mb-3">Channel user</h3>
                    <ul class="list-group scrollable-list">
                        <div *ngFor="let user of channelUsers" class="list-group-item list-group-item-action">
                            <!-- User Details -->
                            <div class="list-details" (click)="routeToUser(user)">
                                <h4>{{ user.name }}</h4>
                                <p *ngIf="user.admin">Admin</p>
                                <p *ngIf="user.owner">Owner</p>
                                <p [ngClass]="{'online': user.status === 'online', 'offline': user.status === 'offline', 'ingame': user.status === 'ingame'}">
                                    {{ user.status }}
                                </p>
                            </div>
                            <button *ngIf="user.status === 'online'" (click)="oneVsOne(user)">1 vs 1</button>
                        </div>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
 

 
        <div class="flex-container">
            <!-- Main chat container -->
         
            <div class="row">
                <div class="list-container">
                <h3>Channel Users</h3>
                <div *ngFor="let user of channelUsers" class="list-item">
                    <!-- User Details -->
                    <div class="list-details" (click)="routeToUser(user)">
                        <h4>{{ user.name }}</h4>
                        <p *ngIf="user.admin">Admin</p>
                        <p *ngIf="user.owner">Owner</p>
                        <p [ngClass]="{'online': user.status === 'online', 'offline': user.status === 'offline', 'ingame': user.status === 'ingame'}">
                            {{ user.status }}
                        </p>
                    </div>
                    <button *ngIf="user.status === 'online'" (click)="oneVsOne(user)">1 vs 1</button>
                </div>
            </div>
            </div>
 
            <div class="create-channel-container">
                <h3>Current Channel</h3>
 
                <div *ngIf="channel.id !== 0; else noChannel">
                    <p><strong>Channel Name:</strong> {{ channel.name }}</p>
                    <p *ngIf="channel.private_channel"><strong>Type:</strong>
                        Private</p>
                    <p *ngIf="!channel.private_channel"><strong>Type:</strong>
                        Public</p>
 
                    <button (click)="leaveChannel()">Leave Channel</button>
                </div>
                <ng-template #noChannel>
                    <p>You're not currently in any channel.</p>
                </ng-template>
            </div>
 
            <div class="create-channel-container">
                <h3>Set new channel password</h3>
                <form (ngSubmit)="setPassword()">
                    <label>New password:
                        <input type="password" name="newPassword"
                            [(ngModel)]="channel.password" required>
                    </label>
                    <button type="submit" >Set new Password</button>
                </form>
            </div>
 
            <div class="create-channel-container">
                <form (ngSubmit)="performAction()">
                    <label>User:
                        <input type="text" name="username" [(ngModel)]="selectedUser.name" required>
                    </label>
                    <label>Action:
                        <select name="actionName" [(ngModel)]="slectedAdminAction">
                            <option value="promote">Promote to Admin</option>
                            <option value="kick">Kick</option>
                            <option value="ban">Ban</option>
                            <option value="mute">Mute</option>
                        </select>
                    </label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>   
 
        <div class="flex-container">
            <div class="create-channel-container">
                <h3>Create a New Channel</h3>
                <form (ngSubmit)="createChannel()">
                    <label>Channel Name:
                        <input type="text" name="channelName"
                            [(ngModel)]="channelToCreate.name" required>
                    </label>
                    <div class="private-section">
                        <label>
                            <input type="checkbox" name="isPrivate"
                                [(ngModel)]="channelToCreate.private_channel">
                            Private Channel (Tick if private)
                        </label>
                    </div>
                    <label>Password:
                        <input type="password" name="channelPassword"
                            [(ngModel)]="channelToCreate.password"
                            placeholder="Required if private channel is ticked">
                    </label>
                    <button type="submit">Create Channel</button>
                </form>
            </div>
 
            <div class="create-channel-container">
                <h3>Start private Chat</h3>
                <form (ngSubmit)="startPrivateChat()">
                    <label>User to Chat with:
                        <input type="text" name="nameChatUser"
                            [(ngModel)]="userPrvtchat.name" required>
                    </label>
                    <button type="submit">Start chat</button>
                </form>
            </div>
 
            <div class="create-channel-container">
                <h3>Join a Channel</h3>
                <form (ngSubmit)="joinChannel()">
                    <label>Channel Name:
                        <input type="text" name="channelName"
                            [(ngModel)]="channelToJoin.name" required>
                    </label>
                    <label>Password:
                        <input type="password" name="channelPassword"
                            [(ngModel)]="channelToJoin.password"
                            placeholder="leave blank if the channel has no password">
                    </label>
                    <button type="submit">Join Channel</button>
                </form>
            </div>
 
            <div class="create-channel-container">
                <form (ngSubmit)="blockUser()">
                    <label>User to Block:
                        <input type="text" name="blockUserName"
                            [(ngModel)]="userToBlock.name" required>
                    </label>
                    <button type="submit">Block User</button>
                </form>
                <form (ngSubmit)="unblockUser()">
                    <label>User to Unblock:
                        <input type="text" name="unblockUserName"
                            [(ngModel)]="userToUnblock.name" required>
                    </label>
                    <button type="submit">Unblock User</button>
                </form>
            </div>
 
        </div>
 
    </div>
 
    <div class="app-friendlist">
        <app-friendlist></app-friendlist>
    </div>
</body>
