<app-sidebar></app-sidebar>
<app-friendlist></app-friendlist>
<div class="container">
    <div class="content">
        <h1>Leaderboard</h1>

        <!-- Pagination Controls -->
        <div class="table-controls">
            <div class="page-size-selector">
                <label for="pageSize"></label>
                <select id="pageSize" [(ngModel)]="playersPerPage" (change)="changePageSize($event)">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="pagination">
                <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                <button (click)="nextPage()" [disabled]="currentPage * playersPerPage >= players.length">Next</button>
            </div>
        </div>
        <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Wins</th>
                  <th>Losses</th>
                  <th>Win/Loss Ratio</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use ngFor to loop through players -->
                <ng-container *ngFor="let player of displayedPlayers">
                  <tr>
                    <!-- Make only the name clickable -->
                    <td (click)="goToProfile(player.id_42)" class="name-clickable">{{ player.name }}</td>
                    <td>{{ player.win_ranked }}</td>
                    <td>{{ player.loss_ranked }}</td>
                    <td>{{ player.winLossRatio | number:'1.2-2' }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
    </div>
    <app-match-history></app-match-history>
</div>

