<div class="container">
    <app-sidebar></app-sidebar>
    <div class="content">
        <h1>Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win/Loss Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{ player.name }}</td>
                    <td>{{ player.win_ranked }}</td>
                    <td>{{ player.loss_ranked }}</td>
                    <td>{{ player.winLossRatio | number:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
