  .sidenav-container {
	height: 100%;
  }
  
  .sidenav {
	width: 250px;
  }
  
  .content {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 95vh;
	justify-content: center;
}
  
  .button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 200px;
	margin-top: 20px;
  }

  @keyframes pulsate {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.05);
	}
	100% {
	  transform: scale(1);
	}
  }

  button {
	padding: 15px 30px;
	font-size: 18px;
	background-color: #0056b3;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
	background-color: #0056b3;
	animation: pulsate 1s infinite;
  }