body {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	height: 100vh;
  }
  
  .content {
	font-family: Arial, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 60%;
	justify-content: center;
	background-color: #b8a45ebd;
}
  
  .button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }

  @keyframes pulsate {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.05);
	}
	100% {
	  transform: scale(1);
	}
  }

  button {
	padding: 15px 30px;
	font-size: 18px;
	background-color: #0056b3;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
	background-color: #0056b3;
	animation: pulsate 1s infinite;
  }


  .chat-sidebar {
	flex: 1; /* Takes up one-third of available space */
	min-width: 160px;
	max-width: 220px;
	background-color: #b8a45ebd;
	padding: auto;
  }
  
  .app-friendlist {
	flex: 1; /* Takes up one-third of available space */
	min-width: 150px;
	max-width: 180px;
	background-color: #b8a45ebd;
	padding: auto;
  }
  
  @media (max-width: 1000px) {
	.app-friendlist {
		display: none;
	}
  }
  
  @media (max-width: 600px) {
	.chat-sidebar {
		display: none;
	}
  }